<div class="container mt-5">
  <div class="form-group mb-3">
    <ngb-progressbar #uploadProgress @uploadStart *ngIf="progress > 0" type="success" textType="white" [value]="progress" [showValue]="true"
                     [striped]="true" [animated]="true">{{ completionLabel }}</ngb-progressbar>
  </div>
  <div class="form-group mb-3">
    <input id="input-file-id" multiple type="file"/>
    <label for="input-file-id" class="md-button md-raised md-primary">Choose Files</label>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-success" (click)="imitateFileUpload($event)">Upload</button>
  </div>
</div>
